{% extends 'base.html' %} 

{% block body %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>URL Shortner Application<i class="fas fa-link px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-10">{{form.long_url}}</div>
          <div class="col-2">
            <button class="btn btn-success btn-lg w-100" type="submit">
              Shorten
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% if errors %}
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if new_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-danger">Your shortened Url</h2>
    <p>You can copy the Link below and share it with your friends</p>
    <div class="badge card text-wrap" style="width: 30%; height: 10%;">
      <!-- <button class="otherButton btn btn-outline-primary" style="margin-left: 75%;">copy</button> -->
      <pre tabindex="0" class="chroma">
        <code class="language-sh" data-lang="sh"><h4>{{new_url}}</h4></code>
      </pre>
    </div>
    <p><span class="text-danger">Previous URL:</span> {{long_url}}</p>
  </div>
  {% endif %}
</div>
<div style="margin-top: 22%;"></div>

<script>
  var a = document.getElementsByClassName('otherButton');
  
  for (var i = 0; i < a.length; i++) {
      a[i].addEventListener('click', function() {
      var b = this.parentNode.parentNode.cells[0].textContent;
      copyToClipboard(b);
      alert(b);
      });
  }
  
  function copyToClipboard(text) {
      var dummy = document.createElement("textarea");
      document.body.appendChild(dummy);
      dummy.value = text;
      dummy.select();
      document.execCommand("copy");
      document.body.removeChild(dummy);
  }
</script>

{% endblock body %}